# Backend
# Configuración del servidor
PORT=5434

# Configuración de la base de datos
DB_USER=postgres
DB_PASS=your_password_here
DB_NAME=instaladores_db
DB_HOST=127.0.0.1

# JWT (autenticación)
JWT_SECRET=your_jwt_secret_here

# Frontend
# Configuración del servidor
VITE_API_URL = http://localhost:5434/api